/* --- general styles --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff 100%/1.6 */
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'aavanteintbook', $font-stack-helvetica;
  @include font-size(1.6);
  font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

input,
textarea {
  
  &:hover,
  &:active,
  &:focus {
    
  }
}

label {
  
}

p {
  
}

.wrap {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
  font-size: 0;
  .col{
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
  }
}

.btn {
  border-radius: 30px;
  background-color: #749101;
  box-shadow: 0px 1px 7px 0px rgba(116, 145, 1, 0.63);
  text-align: center;
  display: inline-block;
  border: none;
  width: 270px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(34, 34, 34, 0.3);
  padding: 20px 0 16px;
  &:hover,
  &:focus,
  &:active {
    
  }
}

.link{
  color: #749101;
  line-height: 19px;
  border-bottom: 1px solid;
}

table{
  box-shadow: 0px 1px 5px 0px rgba(34, 34, 34, 0.3);
  border-collapse: collapse;
  color: #444;
  font-size: 0;
  thead{
    background-color: #eee;
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  tbody{
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    tr{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }
  tr{
    width: 100%;
    display: inline-block;
  }
  th{
    font-weight: normal;
    padding: 7px 2px 7px 18px;
    width: 50%;
    display: inline-block;
    font-size: 14px;
  }
  td{
    padding: 7px 2px 7px 18px;
    width: 50%;
    display: inline-block;
    font-size: 14px;
  }
  .inverse{
    border-left: none;
    border-right: none;
    background-color: #42264e;
    td{
      color: #fff;
      
    }
  }
}

form{
  font-size: 0;
  box-shadow: 0px 1px 5px 0px rgba(34, 34, 34, 0.3);
  width: 100%;
//  max-width: 872px;
  padding: 38px 10px 10px;
  @include clearfix;
  .btn{
    float: right;
    margin: 2px 10px 36px 0;
  }
  .field{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 10px;
    padding-bottom: 28px;
    &.full_width{
      width: 100%;
    }
  }
  label{
    color: #000033;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
  }
}

input,
select,
.select2,
textarea{
  border: 1px solid #222;
  color: #444;
  font-size: 22px;
  padding: 16.5px 15px;
  width: 100%;
}

.select2{
  padding: 0;
  width: 100%!important;
}

.select2-container--default .select2-selection--single{
  border: none;
  padding: 15px 0;
}

.select2-container .select2-selection--single{
  height: auto;
}

.select2-container--open .select2-dropdown--below{
  border-radius: 0;
  border-color: #222;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-top: 14px solid #c5c5c0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-bottom: 14px solid #c5c5c0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 11px;
  right: 15px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #42264e;
}

/* popup */

.popup.overlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(75,75,75,.8);
  z-index: 12;
  text-align: center;
  overflow-y: auto;
  .popup_close{
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .popup_content{
    position: relative;
    margin: 25px auto;
    padding: 4% 10%;
    position: relative;
    display: inline-block;
    text-align: left;
    .subtitle{
      color: #fff;
      padding-bottom: 5%;
    }
    .content{
      background-color: #fff;
    }
    p{
      line-height: 19px;
      margin: 20px 0;
    }
    form{
      max-width: 872px;
    }
  }
  &.text{
    overflow: hidden;
    padding: 26px;
    .popup_content{
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      background-color: #fff;
      width: 86%;
      min-width: 320px;
      padding: 6.89% 12.75%;
      .content{
        overflow-y: auto;
        height: 100%;
        position: relative;
        padding-right: 8px;
      }
      .subtitle{
        font-size: 22px;
        color: #42264e;
      }
    }
  }
}

.ps-container>.ps-scrollbar-y-rail,
.ps-container:hover>.ps-scrollbar-y-rail:hover,
.ps-container.ps-active-x>.ps-scrollbar-x-rail, 
.ps-container.ps-active-y>.ps-scrollbar-y-rail,
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{
  display: block;
  height: 100%;
  width: 5px;
  background-color: #aaa;
  opacity: 1;
}

.ps-container:hover>.ps-scrollbar-x-rail, 
.ps-container:hover>.ps-scrollbar-y-rail{
  opacity: 1;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
  width: 5px;
  background-color: #749101;
  border-radius: 0;
  right: 0;
}

.ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y, 
.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x, 
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{
  width: 5px;
  background-color: #749101;
}

/* header */

header{
  background-color: #42264e;
  padding: 9px 0 6px;
  text-align: right;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  @include clearfix;
  .logo{
    display: inline-block;
    margin-left: 6.666%;
    float: left;
  }
  .info_block{
    color: #ddd;
    font-size: 0;
    margin-right: 6.519%;
    padding: 3px 0;
  }
  .info_item{
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    margin-left: 3.566%;
    &:first-child{
      margin-right: 1.664%;
    }
    img{
      margin-right: 9px;
      position: relative;
      top: 3px;
    }
  }
}

/* main_menu */

.burger_menu{
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.025em;
  position: fixed;
  top: 100px;
  left: 6.519%;
  z-index: 1;
  transition: color .7s ease;
  .burger{
    width: 36px;
    line-height: 0;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    margin-top: -3px;
    span{
      display: inline-block;
      width: 36px;
      height: 4px;
      border-radius: 2px;
      background-color: #6f8b01;
      margin: 2.5px 0;
      transition: background-color .7s ease;
    }
  }
  &.other{
    color: #222;
    .burger span{
      background-color: #3f254b; 
    }
  }
}

.burger_menu.opened{
  span:nth-child(2){
    display: none;
  }
  span:nth-child(1){
    transform: rotate(45deg);
    top: 9px;
    position: relative;
  }
  span:nth-child(3){
    transform: rotate(-45deg);
  }
}

.popup_nav{
  background: url('../img/shop.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  overflow-y: auto;
  display: none;
  .popup_content{
    text-align: left;
    color: #fff;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 7% 0;
  }
  .popup_close{
    position: absolute;
    top: 15%;
    right: 7%;
  }
  .title{
    color: #fff;
    font-size: 80px;
  }
  ul{
    padding: 5.8% 0;
  }
  ul a{
    color: #cfc1d5;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    position: relative;
    transition: color .3s ease;
    &:after{
      content: '';
      position: absolute;
      width: 29px;
      height: 47px;
      background: url('../img/icons/icon_right.png') center no-repeat;
      background-size: contain;
      top: 2px;
//      right: -87px;
      right: -57px;
      opacity: 0;
      transition: opacity .3s ease, right .3s ease;
    }
    &:hover,
    &:active,
    &:focus{
      color: #fff;
      &:after{
        opacity: 1;
        right: -87px;
      }
    }
  }
}

.mobile_block{
  display: none;
  border-top: 1px solid #cfc1d5;
  padding-top: 20px;
  text-align: center;
  .info_item{
    line-height: 20px;
    padding: 6px 0;
    text-align: left;
    img{
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
  .btn{
    margin-top: 8px;
  }
}

.fp-viewing-1 .popup_nav .to_advantages{
  color: #749101;
}

.fp-viewing-2 .popup_nav .to_testimonials{
  color: #749101;
}

.fp-viewing-3 .popup_nav .to_steps{
  color: #749101;
}

.fp-viewing-4 .popup_nav .to_team{
  color: #749101;
}

.fp-viewing-5 .popup_nav .to_form{
  color: #749101;
}


/* main */

.fp-section.fp-table .fp-tableCell{
  padding-top: 49px;
}

.title{
  font-size: 100px;
  color: #42264e;
  text-shadow: 4px 0px 0px rgba(66, 38, 78, 0.3);
  text-transform: uppercase;
}

.subtitle{
  font-size: 29px;
  color: #42264e;
  font-family: 'robotobold', $font-stack-helvetica;
  text-transform: uppercase;
  font-weight: bold;
}

.section_franchise{
  background: url('../img/shop.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  .slogan{
    color: #fff;
    text-transform: uppercase;
  }
  .open{
    font-size: 50px;
    line-height: 80px;
  }
  .franchise{
    font-size: 120px;
    line-height: 130px;
    text-shadow: 4px 0px 0px rgba(255, 255, 255, 0.3);
  }
  .serge{
    font-size: 70px;
    line-height: 90px;
  }
  .anchor{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 3px solid #bdb6c0;
    border-radius: 50%;
    position: relative;
    margin-top: 5.777%;
    &:after{
      content: '';
      position: absolute;
      border-top: 8px solid #bdb6c0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: 24px;
      left: 22px;
    }
  }
}

.section_advantages{
  position: relative;
  padding-left: 28.741%;
  font-size: 0;
  .title{
    padding-bottom: 6px;
  }
  .subtitle{
    padding-bottom: 2.629%;
  }
  .bg_section{
    width: 28.741%;
    position: absolute;
    top: 122px;
    left: 0;
    bottom: 0;
    background: url('../img/bg/advantages_bg.png') right 30px bottom no-repeat;
    background-size: auto 100%;
  }
  .advantage_item{
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    padding-right: 6.2%;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .img{
    text-align: center;
    padding-bottom: 10px;
  }
  img{
    width: 28.84%;
    min-width: 68px;
  }
  .caption{
    font-size: 16px;
    color: #222;
  }
}

.section_testimonials{
  position: relative;
  padding-left: 28.741%;
  padding-right: 6.519%;
  .bg_section{
    width: 28.741%;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    background: url('../img/bg/testimonials_bg.png') left bottom no-repeat;
    background-size: auto 100%;
  }
  .btn{
    position: absolute;
    bottom: 4.148%;
    right: 6.519%;
  }
}

.testimonials_slider{
  margin: 0 -15px;
  padding-top: 22px;
  .item{
    padding: 15px;
    width: 458px;
  }
  .item_inner{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(34, 34, 34, 0.3);
    padding: 48px 20px 20px;
    min-height: 280px;
  }
  .img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
    margin-bottom: 18px;
  }
  .name{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }
  .state{
    color: #777;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }
  .text{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
    clear: both;
  }
  .slick-dots li button:before,
  .slick-prev,
  .slick-next{
    display: none;
  }
  .slick-dots{
    text-align: left;
    padding: 0 15px;
    li{
      width: 10px;
      height: 10px;
      margin: 0 20px 0 0;
      button{
        background-color: #42264e;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: .3;
        transition: opacity .3s ease;
      }
      &.slick-active,
      &:hover,
      &:active,
      &:focus{
        button{
          opacity: 1;
        }
      }
    }
  }
}

.section_steps{
  position: relative;
  padding-left: 28.741%;
  padding-right: 6.519%;
  .bg_section{
    width: 28.741%;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    background: url('../img/bg/steps_bg.png') left bottom no-repeat;
    background-size: calc(100% - 30px) auto;
  }
  .slide_heading{
    font-size: 22px;
    font-family: 'robotobold', $font-stack-helvetica;
    text-transform: uppercase;
    color: #42264e;
    font-weight: bold;
    padding-bottom: 2.6%;
  }
  .steps_slider{
    padding-top: 6.1%;
    padding-bottom: 10.8%;
    margin: 0 -4px;
    .swiper-wrapper{
      padding-left: 4px;
      padding-right: 4px;
    }
    li{
      margin: 12px 0;
      padding-left: 18px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #749101;
        border-radius: 50%;
        left: 0;
        top: 6px;
      }
    }
    .btn{
      float: right;
      margin-top: 2.9%;
      margin-right: 8px;
    }
  }
  .swiper-pagination{
    bottom: 11.8%;
    left: 28.741%;
    right: 6.519%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:before{
      content: '';
      position: absolute;
      border-top: 1px solid #aaa;
      top: 50%;
      left: 0;
      right: 0;
    }
  }
  .swiper-container,
  .swiper-slide, 
  .swiper-wrapper{
    position: static;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
  }
  .swiper-pagination-bullet{
    opacity: 1;
    background-color: #fff;
    color: #aaa;
    font-size: 22px;
    width: 49px;
    height: 49px;
    line-height: 49px;
    z-index: 1;
    position: relative;
    transition: color .3s ease;
    &:before{
      content: '';
      position: absolute;
      width: 75px;
      height: 75px;
      top: -13px;
      left: -13px;
      border-radius: 50%;
      background-color: #fff;
      z-index: -1;
    }
    &:after{
      content: '';
      position: absolute;
      width: 49px;
      height: 49px;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color .3s ease;
    }
    &:hover,
    &:active,
    &:focus{
      color: #fff;
      &:after{
        background-color: #749101;
        transition: background-color .3s ease;
      }
    }
  }
  .swiper-pagination-bullet-active{
    color: #fff;
    &:after{
      background-color: #749101;
    }
  }
  table{
    display: inline-block;
    width: calc(100% - 300px);
    max-width: 570px;
  }
  .info_block{
    float: right;
    width: 278px;
    line-height: 19px;
    letter-spacing: 0.025em;
    padding-right: 4px;
    .btn{
      margin-top: 9%;
    }
  }
}

.section_team{
  position: relative;
  padding-left: 28.741%;
  padding-right: 6.519%;
  font-size: 0;
  .bg_section{
    width: 28.741%;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    background: url('../img/bg/team_bg.png') left bottom no-repeat;
    background-size: auto calc(100% - 30px);
  }
  .item{
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    padding-right: 20px;
    padding-top: 6.4%;
  }
  .img{
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    box-shadow: 0px 1px 5px 0px rgba(34, 34, 34, 0.3);
    margin-bottom: 9%;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    img{
      width: 100%;
    }
  }
  .name{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }
  .state{
    color: #999;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }
  .link{
    font-size: 16px;
  }
  .mail{
    padding-top: 19px;
  }
}

.section_form{
  position: relative;
  padding-left: 28.741%;
  padding-right: 6.519%;
  .bg_section{
    width: 28.741%;
    position: absolute;
    top: 150px;
    left: 0;
    bottom: 0;
    background: url('../img/bg/form_bg.png') right 30px bottom no-repeat;
    background-size: auto 100%;
  }
  form{
    margin-top: 4.7%; 
  }
}